/* =================================== */
/*	Basic Style
/* =================================== */

body {
	background-color: #fff;
	font-family: $font-family;
	line-height: 21px;
	font-size: 13px;
	color: #6a737b;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

figure,
p {
	margin: 0;
}

a {
	color: #fff;

	-webkit-transition: all 0.3s ease-in 0s;
	-moz-transition: all 0.3s ease-in 0s;
	-ms-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s;
	transition: all 0.3s ease-in 0s;
}

iframe {
	border: 0;
}

a,
a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}

a:focus,
a:hover {
	color: #EEB045;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

.clear:before,
.clear:after {
	content: " ";
	display: table;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

span.color {
	color: $secondary-color;
}

body>section,
.footer {
	padding: 70px 0;
}

.sec-title h2 {
	color: $primary-color;
	font-size: 28px;
	font-weight: 800;
	text-transform: uppercase;
}

.sec-sub-title {
	margin: 35px 0 45px;
}

.sec-sub-title p {
	font-weight: 600;
	line-height: 24px;
	font-size: 18px;
	color: #5b646e;
}

.devider {
	margin-top: 30px;
}

.devider i {
	color: #cccccc;
}

.devider:before,
.devider:after {
	content: "______________________";
	color: #e6e8ea;
	position: relative;
	bottom: 6px;
}

.devider:before {
	right: 10px;
}

.devider:after {
	left: 10px;
}

.mb50 {
	margin-bottom: 50px;
}

#preloader {
	background-color: #fff;
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 1100;
}

#preloader>img {
	left: 47%;
	position: absolute;
	top: 48%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background-color: none !important;
	border: 2px solid #eeb045 !important;
}

.dropdown-menu {
	background-color: none !important;
}