/*=========================================
	Contact Us
==========================================*/

.contact {
	padding-bottom: 0;
}

.contact-address h3 {
	color: #062033;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 25px;
}

.contact-address p {
	line-height: 24px;
}

.contact-form {}

.contact-form h3 {
	color: #062033;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 25px;
}

.contact-form .input-group {
	width: 100%;
}

.contact-form .form-control {
	border-color: -moz-use-text-color -moz-use-text-color #cccccc;
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
	margin-bottom: 10px;
}

.contact-form .input-field {
	width: 100%;
	float: left;
	margin-right: 4%;
}

.contact-form .input-field:last-child {
	margin-right: 0;
}

.contact-form .form-control.error {
	border-bottom-color: #c0392b;
}

label.error {
	color: #c0392b;
	font-weight: normal;
	text-transform: capitalize;
}

.contact-form #form-submit {
	background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
	border: 0 none;
	color: #000;
	font-size: 16px;
	line-height: 24px;
	padding: 10px;
	text-align: right;
	width: 150px;
}

.footer-social {
	margin-top: 17px;
}

.footer-social li a {
	color: #cdd2d6;
	display: block;
	margin-bottom: 10px;
}

#map_canvas {
	height: 215px;
	width: 100%;
}