/*=========================================
	Slider
==========================================*/

#slider {
	padding: 0;
}

#slider .carousel-inner .item {
	background-size: cover;
}

.carousel-caption {
	top: 50%;
}

.carousel-caption h2 {
	font-size: 62px;
	font-weight: 300;
}

.carousel-caption h2 span {
	font-weight: 800;
}

.carousel-caption h3 {
	font-size: 48px;
	font-weight: 300;
	margin: 6px 0 20px;
}

.carousel-caption p {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
}

.carousel-caption p:before,
.carousel-caption p:after {
	color: $primary-color;
	content: "___";
	position: relative;
	top: -8px;
}

.carousel-caption p:before {
	right: 20px;
}

.carousel-caption p:after {
	left: 20px;
}

.social-links {
	margin-top: 5%;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
	color: rgba(255, 254, 254, 0.973);
	display: block;
	margin: 0 6px;
}

.social-links li a:hover {
	color: $primary-color;
}

.carousel-indicators {
	bottom: 10px;
	left: inherit;
	margin: 0;
	right: 30px;
	top: 49%;
	width: 0;
}

.carousel-indicators li {
	border: 1px solid rgba(255, 255, 255, 0.3);
	height: 8px;
	width: 8px;
}

.carousel-indicators .active {
	height: 8px;
	width: 8px;
}