$primary-color: #D29732;
$secondary-color: rgb(224, 174, 87);
$footer-background: #D29732;
$font-family: "Open Sans",
sans-serif;
$overlay-color: rgba(231, 194, 69, 0.9);
$navbar-focus-color: rgb(238, 176, 69);