/*=========================================
	Some fun stats
==========================================*/

#stats {
	background-image: url("../img/parallax/city.jpg");
	background-color: rgba(6, 32, 51, 0.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}

.stats .devider:before,
.stats .devider:after {
	color: #737c85;
}

.stats .devider i {
	color: #fff;
}

.parallax-overlay {
	background-color: rgba(6, 32, 51, 0.8);
	padding: 70px 0;
}

.counters-item {
	color: #fff;
}

.counters-item i {
	border: 1px solid #737c85;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	height: 120px;
	margin: 0 0 35px;
	padding: 40px 0 0;
	width: 120px;
}

.counters-item strong {
	display: block;
	font-size: 60px;
	font-weight: 600;
	line-height: 60px;
}

.counters-item p {
	font-size: 18px;
	line-height: 24px;
	margin-top: 15px;
	text-transform: uppercase;
}