/*=========================================
	Header
==========================================*/

#navigation {
	background-color: rgba(99, 64, 0, 0.6);
	border: 0 none;
	margin: 0;

	-webkit-transition: background-color 800ms linear;
	-moz-transition: background-color 800ms linear;
	-ms-transition: background-color 800ms linear;
	-o-transition: background-color 800ms linear;
	transition: background-color 800ms linear;
}

.navbar-toggle i {
	color: #fff;
}

.navbar-brand {
	padding: 0;
}

.navbar-nav li a {
	border-top: 1px solid transparent;

}

.navbar-nav li a.current,
.navbar-nav li a:focus,
.navbar-nav li a:hover {
	background-color: transparent;
	border-top: 2px solid $navbar-focus-color;
	color: #fff;
}

.navbar-nav .dropdown-menu li a {
	background-color: transparent;
	border-top: none;
	color: #fff;
}


ul.dropdown-menu a:hover {
	background-color: #eeb045;
}