/*=========================================
	Our Works
==========================================*/

.work-filter {
	margin-bottom: 35px;
}

.work-filter ul li {
	display: inline-block;
}

.work-filter ul li a {
	color: #062033;
	display: block;
	font-size: 14px;
	font-weight: 700;
	padding: 5px 17px;
	border-radius: 6px;
	text-transform: capitalize;
}

.work-filter ul li a:hover,
.work-filter ul li a.active {
	background-color: $primary-color;
	border-radius: 6px;
	color: #fff;
	padding: 5px 17px;
}

.mix {
	display: none;
}

.work-item {
	float: left;
	width: 25%;
	position: relative;
}

.work-item>img {
	display: block;
	height: auto;
	max-width: 100%;
}

.overlay {
	background-color: $overlay-color;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;

	opacity: 0;
	filter: alpha(opacity=0);

	-webkit-transition: all 450ms ease-out 0s;
	-moz-transition: all 450ms ease-out 0s;
	-o-transition: all 450ms ease-out 0s;
	transition: all 450ms ease-out 0s;

	-webkit-transform: rotateY(180deg) scale(0.5, 0.5);
	-moz-transform: rotateY(180deg) scale(0.5, 0.5);
	-ms-transform: rotateY(180deg) scale(0.5, 0.5);
	-o-transform: rotateY(180deg) scale(0.5, 0.5);
	transform: rotateY(180deg) scale(0.5, 0.5);
}

.work-item:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transform: rotateY(0deg) scale(1, 1);
	-moz-transform: rotateY(0deg) scale(1, 1);
	-ms-transform: rotateY(0deg) scale(1, 1);
	-o-transform: rotateY(0deg) scale(1, 1);
	transform: rotateY(0deg) scale(1, 1);
}

.work-item .overlay a {
	border: 1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	margin-top: 20%;
	padding: 7px 10px;
}

.work-item .overlay a:hover {
	color: #fff;
}

.work-item .overlay h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	margin: 25px 0 8px;
}

.work-item .overlay p {
	font-size: 14px;
	line-height: 24px;
}

/*=========================================
	Our Team Member
==========================================*/

.member-thumb {
	width: 273px;
	position: relative;
}

.member-thumb .overlay h5 {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin: 10px 0;
}

.member-thumb .overlay {
	font-size: 16px;
	padding: 20px;
	line-height: 24px;
}

.team-member h4 {
	color: #062033;
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
	margin: 15px 0 8px;
}

.member-thumb:hover .overlay {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity=100);

	-webkit-transform: rotateY(0deg) scale(1, 1);
	-moz-transform: rotateY(0deg) scale(1, 1);
	-ms-transform: rotateY(0deg) scale(1, 1);
	-o-transform: rotateY(0deg) scale(1, 1);
	transform: rotateY(0deg) scale(1, 1);
}

.team-member:hover h4 {
	color: $primary-color;
}

.team-member .social-links {
	margin-top: 24%;
}

.team-member .social-links li a {
	background-color: #0d7c67;
	color: #fff;
	height: 42px;
	padding: 10px 0 0;
	width: 42px;
}